.gUsbAk {
    width: 100%;
}

.dlXIVJ {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

@media (min-width: 36.75rem){
.kbuAEa {
    margin-left: var(--global-space-12);
    margin-right: var(--global-space-12);
}}

.kbuAEa {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: visible;
    width: 100%;
    max-width: 100vw;
}

@media (min-width: 36.75rem)
{
.fiPoVw {
    flex-flow: row;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    justify-content: center;
    overflow-x: hidden;
    scroll-behavior: auto;
    scrollbar-width: none;
    --carousel-items-horizontal-padding: var(--global-space-12);
    padding-left: var(--carousel-items-horizontal-padding);
    padding-right: var(--carousel-items-horizontal-padding);
    mask: linear-gradient(to right, var(--global-constant-blackSubtle-default) 0, var(--global-constant-black-default) var(--carousel-items-horizontal-padding), var(--global-constant-black-default) calc(100% - var(--carousel-items-horizontal-padding)), var(--global-constant-blackSubtle-default) 100%);
}}

.fiPoVw {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: var(--global-space-16);
    padding-bottom: var(--global-space-24);
}
@media (min-width: 36.75rem)
{
.hALVJd {
    padding-left: var(--global-space-40);
    padding-right: var(--global-space-40);
}}

.hALVJd {
    padding-left: var(--global-space-16);
    padding-right: var(--global-space-16);
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 36.75rem){

.cfVEVm {
    display: flex;
    flex: 1 0 auto;
    width: calc(50% - 8px);
    max-width: 380px;
}}

.cfVEVm {
    display: block;
    overflow: visible;
}

.jeokUF {
    width: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.bIlSfu {
    display: none;
    width: 100%;
    background-color: var(--component-button-action-default);
    color: var(--component-button-onAction-default);
    border-radius: var(--global-radius-lg) var(--global-radius-lg) 0 0;
    text-align: center;
}

@media (min-width: 36.75rem){

.bIlSfu {
    display: block;
    visibility: hidden;
}}

.ieKKhT {
    box-sizing: border-box;
    padding: 6px 6px 8px;
}

.jtatWC {
    font-family: var(--global-fontStack-heading);
    font-weight: var(--global-fontWeights-heading-default);
    line-height: var(--global-lineHeights-heading);
    letter-spacing: var(--global-letterSpacing-heading);
    color: inherit;
    margin: 0px;
    font-size: var(--global-fontSizes-heading-xs) !important;
}

.hJOVLw {
    text-transform: uppercase;
}   

b, strong {
    font-weight: bold;
}

@media (min-width: 36.75rem){

.dggRUR {
    gap: var(--global-space-16);
    padding-top: var(--global-space-24);
    padding-bottom: var(--global-space-24);
}}


.dggRUR {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    gap: var(--global-space-12);
    padding: var(--global-space-16);
}

.dNpzBR {
    flex: 0 1 auto;
}

.jNaFcj {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: start;
}

.bovTjV {
    font-family: var(--global-fontStack-heading);
    font-weight: var(--global-fontWeights-heading-default);
    line-height: var(--global-lineHeights-heading);
    letter-spacing: var(--global-letterSpacing-heading);
    color: var(--global-content-regular-default);
    margin: 0px;
    font-size: var(--global-fontSizes-heading-lg) !important;
}

.fycPQu {
    font-family: var(--global-fontStack-heading);
    font-weight: var(--global-fontWeights-heading-default);
    line-height: var(--global-lineHeights-heading);
    letter-spacing: var(--global-letterSpacing-heading);
    color: var(--global-content-regular-default);
    margin: 0px;
    font-size: var(--global-fontSizes-heading-xl) !important;
}

.cHAFXQ {
    display: inline-block;
    position: relative;
}

.kClFZP {
    flex: 0 1 auto;
}

.hGJiuv {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

@media (min-width: 36.75rem)
{
.gmCYiZ {
    min-height: 40px;
    max-height: 40px;
    padding: 0px 20px;
}}

.gmCYiZ {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    font-size: var(--component-fontSizes-button-md);
    font-weight: var(--component-fontWeights-button-default);
    font-family: var(--global-fontStack-button);
    text-decoration: none;
    color: var(--component-button-onAction-default);
    background-color: var(--component-button-action-default);
    border: var(--global-borderWidth-thin) solid transparent;
    min-height: 44px;
    max-height: 44px;
    padding: 0px 20px;
    border-radius: var(--global-radius-md);
    outline-offset: 0px;
    line-height: var(--component-lineHeights-button);
    width: 100%;
    white-space: unset;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

a {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

a {
    background-color: transparent;
}

.hZQOBL {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 4px;
    visibility: visible;
    padding: 0px;
    margin: auto 0px;
}

@media (min-width: 36.75rem){

.cPhYjp {
    margin: 10px 0px;
}}


.cPhYjp {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    padding: 0px;
    margin: 8px 0px;
}

.gPLDUn {
    flex: 1 1 auto;
}

.cDNaZd {
    display: flex;
    flex-direction: column-reverse;
}

.gMGqbT {
    margin-top: var(--global-space-8);
    margin-bottom: var(--global-space-8);
}

b, strong {
    font-weight: bold;
}

.dvwVZP {
    padding-inline-start: calc(var(--global-space-16) + var(--global-space-4));
}

@media (min-width: 36.75rem){

.cfVEVm {
    display: flex;
    flex: 1 0 auto;
    width: calc(50% - 8px);
    max-width: 380px;
}}


.cfVEVm {
    display: block;
    overflow: visible;
}

.jeokUF {
    width: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

@media (min-width: 36.75rem){

.iPNPsh {
    display: block;
    visibility: visible;
}}

.iPNPsh {
    display: block;
    width: 100%;
    background-color: var(--component-button-action-default);
    color: var(--component-button-onAction-default);
    border-radius: var(--global-radius-lg) var(--global-radius-lg) 0 0;
    text-align: center;
}

.ieKKhT {
    box-sizing: border-box;
    padding: 6px 6px 8px;
}

.jtatWC {
    font-family: var(--global-fontStack-heading);
    font-weight: var(--global-fontWeights-heading-default);
    line-height: var(--global-lineHeights-heading);
    letter-spacing: var(--global-letterSpacing-heading);
    color: inherit;
    margin: 0px;
    font-size: var(--global-fontSizes-heading-xs) !important;
}

.hJOVLw {
    text-transform: uppercase;
}

b, strong {
    font-weight: bold;
}

@media (min-width: 36.75rem)
{
.dggRUR {
    gap: var(--global-space-16);
    padding-top: var(--global-space-24);
    padding-bottom: var(--global-space-24);
}}

.dggRUR {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    gap: var(--global-space-12);
    padding: var(--global-space-16);
}

.dNpzBR {
    flex: 0 1 auto;
}

.jNaFcj {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: start;
}

.bovTjV {
    font-family: var(--global-fontStack-heading);
    font-weight: var(--global-fontWeights-heading-default);
    line-height: var(--global-lineHeights-heading);
    letter-spacing: var(--global-letterSpacing-heading);
    color: var(--global-content-regular-default);
    margin: 0px;
    font-size: var(--global-fontSizes-heading-lg) !important;
}

.fycPQu {
    font-family: var(--global-fontStack-heading);
    font-weight: var(--global-fontWeights-heading-default);
    line-height: var(--global-lineHeights-heading);
    letter-spacing: var(--global-letterSpacing-heading);
    color: var(--global-content-regular-default);
    margin: 0px;
    font-size: var(--global-fontSizes-heading-xl) !important;
}

.cHAFXQ {
    display: inline-block;
    position: relative;
}

.kClFZP {
    flex: 0 1 auto;
}

.hGJiuv {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

@media (min-width: 36.75rem)
{
.gmCYiZ {
    min-height: 40px;
    max-height: 40px;
    padding: 0px 20px;
}}

.gmCYiZ {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    font-size: var(--component-fontSizes-button-md);
    font-weight: var(--component-fontWeights-button-default);
    font-family: var(--global-fontStack-button);
    text-decoration: none;
    color: var(--component-button-onAction-default);
    background-color: var(--component-button-action-default);
    border: var(--global-borderWidth-thin) solid transparent;
    min-height: 44px;
    max-height: 44px;
    padding: 0px 20px;
    border-radius: var(--global-radius-md);
    outline-offset: 0px;
    line-height: var(--component-lineHeights-button);
    width: 100%;
    white-space: unset;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

a {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

a {
    background-color: transparent;
}

.hZQOBL {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 4px;
    visibility: visible;
    padding: 0px;
    margin: auto 0px;
}

@media (min-width: 36.75rem)
{
.cPhYjp {
    margin: 10px 0px;
}}

.cPhYjp {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    padding: 0px;
    margin: 8px 0px;
}

.gPLDUn {
    flex: 1 1 auto;
}

.cDNaZd {
    display: flex;
    flex-direction: column-reverse;
}

.jxqpNa {
    overflow-wrap: break-word;
    word-break: break-word;
}

.dvwVZP {
    padding-inline-start: calc(var(--global-space-16) + var(--global-space-4));
}

.kxMuSq {
    width: 100%;
    box-sizing: border-box;
    padding: var(--global-space-56) 0 var(--global-space-40);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    overflow: visible;
}

.kPBzPp {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: var(--global-space-16);
    width: 100%;
}

.cRmHzU {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: var(--global-space-12);
    text-align: center;
}